@charset "UTF-8";
/* CSS Document */

/*  Small: 768 
    Medium: 992
    Large: 1200 */

/* */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900');
/* */

body{
    font-family: 'Rubik', sans-serif;
}

/* Topo */

.bgColorOne{
    background-color: #231f20;
}

/* /Topo */

/* Call To Action */

.bgImageOne{
    background-image: url(../images/bgOne.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bgCall{
    background-image: url(../images/promo.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    margin-top: 15%;
    margin-bottom: 15%;
}

.txtCallOne, .txtCallTwo, .txtCallThree{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
}

.txtCallOne{
    margin-top: 35px;
    margin-bottom: 160px;
}

.txtCallTwo{
    margin-bottom: 35px;
}

.bgForm{
    background-color: #105975;
    border-radius: 10px;
    padding: 5% 5% 0 5%;
}

.bgFormMarg{
    margin-top: 16%;
}

.hotEnviar{
    background-color: #2dd4f6;
    border: 0;
    border-radius: 5px;
    padding: 3%;
    color: #000;
    font-weight: 700;
}

.hotEnviar:hover{
    color: #fff;
}

/* /Call To Action */

/* Section 01 */

.bgColorTwo{
    background-color: #f4f4f4;
    padding: 2%;
}

h1{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.txtSectionOne{
    color: #848285;
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
}

/* /Section 01 */

/* Section 02 */



/* /Section 02 */